.container {
    width: 575px;
    height: 825px;
  
    background-color: #797978;
    padding-left: 30px;
  }
  nav{
    display: flex;
    flex-wrap:  wrap ;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    border: 1.5px solid black;
    padding: 15px;
    background-color: #F0F0F0;
 }
 a{
   display: block;
   color: black;
   width: 30px 50px;
   border: 1px solid black;
   padding: 8px;
   background-color: rgb(207, 211, 221);
   
 }
  #height,
  #weight {
    width: 150px;
    height: 25px;
    margin-top: 30px;
  }
  
  #weight-guide {
    margin-left: 75px;
    margin-top: 25px;
  }
  
  #results {
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(241, 241, 241);
  }
  
  button {
    width: 150px;
    height: 35px;
    margin-left: 90px;
    margin-top: 25px;
    background-color: #fff;
    padding: 1px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
  
    font-size: 25px;
  }
  
  h1 {
    padding-left: 15px;
    padding-top: 25px;
    
  }
  